MONGODB_USER=root
MONGODB_PASSWORD=example
MONGODB_LOCAL_STORAGE_PATH=/Users/jaswinderkantiwal/Developer/hackaburg_2023/backend/backend_data

MONGO_DASHBOARD_LOGIN=admin
MONGO_DASHBOARD_PASSWORD=admin

BACKEND_NODE_ENV=development
BACKEND_LOCAL_PORT=3000
BACKEND_DOCKER_PORT=3000

FRONTEND_NODE_ENV=development
FRONTEND_LOCAL_PORT=3001

ML_BACKEND_LOCAL_PORT=3002
